#change-layout {
  width: 120px;
  height: 120px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);

  position: absolute;
  right: 0;
  bottom: 0;

  padding: 20px;
  background-color: #d3d3d3;
  background-image: url('change.png');

  opacity: 50%;
}

#change-layout:hover {
  opacity: 100%;
}
